@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="font-weight:bold">Get Your Electronics Here!</h1>
    @*<p class="lead"> </p>*@
    <img src="https://i.imgur.com/98pN52g.jpg" class="img-responsive" style="width:999px; height:300px;">
    <p><a href="http://localhost:34384/Product" class="btn btn-primary btn-lg">Begin Shopping &raquo;</a></p>
</div>

<div class="row">

    <div class="col-md-2">
        <h2 style="font-size:larger; font-weight:bold">Categories</h2>
        <p style="font-weight:bold">
            Here at TPH we have a varitey of electronics that are high quality and reasonably priced! See trending products and our latest deals! When adding an item to the cart enter the code "SAVE" for an extra 15% off!
        </p>

    </div>

    <div class="col-md-2">
        <h2 style="font-size:larger; font-weight:bold"> Home and Office Electronics</h2>
        <p></p>
        <p><a class="btn btn-default" href="http://localhost:34384/Product"  style="font-weight:bold; font-size:large">More &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2 style="font-size:larger; font-weight:bold"> Computers and Networking</h2>
        <p></p>
        <p><a class="btn btn-default" href="http://localhost:34384/Product"  style="font-weight:bold; font-size:large">More &raquo;</a></p>
    </div>

    <div class="col-md-2">
        <h2 style="font-size:larger; font-weight:bold">Computers and Accessories</h2>
        <p></p>
        <p><a class="btn btn-default" href="http://localhost:34384/Product"  style="font-weight:bold; font-size:large">More &raquo;</a></p>

    </div>

    <div class="col-md-2">
        <h2 style="font-size:larger; font-weight:bold">Audio & Video</h2>
        <p></p>
        <p><a class="btn btn-default" href="http://localhost:34384/Product" style="font-weight:bold; font-size:large">More &raquo;</a></p>
    </div>

    <div class="col-md-2">
        <h2 style="font-size:larger; font-weight:bold">Batteries & Power </h2>
        <p></p>
        <p><a class="btn btn-default" href="http://localhost:34384/Product" style="font-weight:bold; font-size:large">More &raquo;</a></p>
    </div>


</div>