@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                About
                <small>It's Nice to Meet You!</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">&nbsp;&nbsp;/&nbsp;&nbsp;About</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="http://www.incentivecomp.tech/wp-content/uploads/2016/08/office-employees-smiling-in-HR.jpg" class="img-responsive" style="width:530px; height:325px;">
        </div>
        <div class="col-md-6">
            <h2>Welcome to 'TPH'</h2>
            <p>  You can feel the energy here. And we’re not talking about the hum of electronics (there’s that, too). We’re talking about people. Here at TPH we are an electronics company who puts our customers first! Our products cater to our customers wants and needs leaving our customers satified.</p>
            <p>We're a company of pioneers. It's our job to make bold bets, and we get our energy from inventing on behalf of customers. Success is measured against the possible, not the probable. 
            For today’s pioneers, that’s exactly why there’s no place on Earth they’d rather build than TPH.</p>
        </div>
    </div>
    <!-- Team Member Profiles -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Our Team</h2>
        </div>
        <div class="col-sm-4">
            <img src="https://i.imgur.com/gC7YCAM.jpg" class="img-responsive" style="width:325px; height:200px;">
            <h3>
                Kaitlyn Thomas
                <small>Project Manager</small>
            </h3>
            <p> Plan, budget, oversee and document all aspects of the project while leading and managing the project team</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link">
                    <a title="Facebook" data-placement="top" data-toggle="tooltip" href="#facebook-profile"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link">
                    <a title="LinkedIn" data-placement="top" data-toggle="tooltip" href="#linkedin-profile"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link">
                    <a title="Twitter" data-placement="top" data-toggle="tooltip" href="#twitter-profile"><i class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link">
                    <a title="Google+" data-placement="top" data-toggle="tooltip" href="#google-plus-profile"><i class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <img src="http://placehold.it/325x200" class="img-responsive">
            <h3>
                Brady Pratt
                <small>Full-stack Developer</small>
            </h3>
            <p>Design overall architecture of the web application and maintain code integrity and organization.</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link">
                    <a title="Facebook" data-placement="top" data-toggle="tooltip" href="#facebook-profile"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link">
                    <a title="LinkedIn" data-placement="top" data-toggle="tooltip" href="#linkedin-profile"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link">
                    <a title="Twitter" data-placement="top" data-toggle="tooltip" href="#twitter-profile"><i class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link">
                    <a title="Google+" data-placement="top" data-toggle="tooltip" href="#google-plus-profile"><i class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <img src="https://i.imgur.com/RkJGSoU.jpg" class="img-responsive" style="width:325px; height:200px;">
            <h3>
                Luke Hester
                <small>Full-stack Developer</small>
            </h3>
            <p>Maintain quality and ensure responsiveness of applications. Highly experienced with back-end programming languages </p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link">
                    <a title="Facebook" data-placement="top" data-toggle="tooltip" href="#facebook-profile"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link">
                    <a title="LinkedIn" data-placement="top" data-toggle="tooltip" href="#linkedin-profile"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link">
                    <a title="Twitter" data-placement="top" data-toggle="tooltip" href="#twitter-profile"><i class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link">
                    <a title="Google+" data-placement="top" data-toggle="tooltip" href="#google-plus-profile"><i class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Our Customers -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Our Customers</h2>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img src="https://i.imgur.com/aYEjwtF.png" class="img-responsive" style="width:150px; height:150px;">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img src="http://placehold.it/300x300" class="img-responsive" style="width:150px; height:150px;">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img src="http://placehold.it/300x300" class="img-responsive" style="width:150px; height:150px;">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img src="http://placehold.it/300x300" class="img-responsive" style="width:150px; height:150px;">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img src="http://placehold.it/300x300" class="img-responsive" style="width:150px; height:150px;">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img src="http://placehold.it/300x300" class="img-responsive" style="width:150px; height:150px;">
        </div>
    </div>
</div>