@model TPH.ViewModels.ProductsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Index product page</h4>

@if (!Model.Products.Any())
{
    @Html.ActionLink("Add items", "Form", "Product")
}
else
{
<table>
    <thead>
        <tr>
            <th>
                Product
            </th>
            <th>
                Details
            </th>
        </tr>
    </thead>
    @foreach(var product in Model.Products)
    {
        <tr>
            <td>
                @product.name
            </td>
        </tr>
    }
</table>
}

